
Pillow==10.2.0

tensorflow==2.15.0




keras==2.13.1

matplotlib==3.8.2

numpy==1.24.3

pandas==2.1.4
pillow==10.2.0
pipreqs==0.4.13


streamlit==1.29.0
tenacity==8.2.3
tensorboard==2.13.0
tensorboard-data-server==0.7.2
tensorflow==2.13.1
tensorflow-estimator==2.13.0
tensorflow-intel==2.13.1
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.4.0

